h1= pageTitle
ul
  li
    a(href="/countries") /countries
  li
    a(href="/countries/an") /countries/SEARCHTERM

p Here you can see a text input with auto-complete.
form
  input(type="text", placeholder="Search", onkeyup="search(this.value)")
  ul
    li Nothing found
